PORT=5000
NODE_ENV=development

# PostgreSQL Connection settings
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=postgres
PGDATABASE=project_hall
PGPORT=5432

# JWT / OIDC Configuration
JWT_ISSUER=http://localhost:5000
JWT_AUDIENCE=http://localhost:5173
